<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">What you need for Test Automation in Java</h2>
                <hr class="light">
                <p class="text-faded">Has more and more you need to get your new projects in no time! All of the example source-codes and artifacts on https://github.com/ngoanh2n are open source, free to clone, and easy to use.</p>
                <a href="#repositories" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
