/* Git section */
.github-graph {
    margin-bottom: 30px;
  }
  
  .github-graph .js-calendar-graph-svg {
    max-width: 100%;
  }
  
  .github-graph h2 {
    font-size: 18px;
  }
  
  .ghfeed {
    height: 500px;
  }
  
  .ghfeed,
  .ghfeed *,
  .ghfeed *:before,
  .ghfeed *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
  }